<div class="jumbotron text-center">
    <h1>MEAN Authentication App</h1>
    <p class="lead">Welcome to our custom MEAN authentication application built from scratch.</p>
    <div>
        <a [routerLink]="['/register']" class="btn btn-primary">Register</a>
        <a [routerLink]="['/login']" class="btn btn-success">Login</a>
    </div>
</div>

<h2>Built Using</h2>
<div class="row">
    <div class="col-md-4">
        <h4>ExpressJS & JWT</h4>
    </div>
    <div class="col-md-4">
        <h4>Angular 2 & Angular CLI</h4>
    </div>
    <div class="col-md-4">
        <h4>MongoDB</h4>
    </div>
</div>
<h2>Hosted Using</h2>
<div class="row">
  <div class="col-md-4">
    <h4>Azure Web Apps</h4>
  </div>
  <div class="col-md-4">
    <h4>IIS Node</h4>
  </div>
  <div class="col-md-4">
    <h4>Azure Document DB</h4>
  </div>
</div>
